{% extends 'home.html' %}
{% load static %}

{% block title %}Comment Edit or Delete{% endblock %}

{% block logged_in_content %}
    <h2>Comment Edit or Delete</h2>
    {% if not can_edit %}
        You are not authorized to delete comments.<br><br>
    {% endif %}

    {% for comment in all_the_comments %}
        <b style="color: darkgreen">{{ comment.myuser.username }} on {{ comment.timestamp }}</b><br>
        {{ comment.text }}
        {% if comment.is_reported == True %}
            <img src="{% static 'Customerservice/flag.png' %}" height="20" width="20">
        {% endif %}
        <br>
        {% if can_edit %}
            <form action="{% url 'comment-edit-delete' comment.id %}">
                <input type="submit" value="Edit or Delete"/>
            </form>
            <br>
        {% endif %}

        <br>
    {% endfor %}
    <br>
    <a href="{% url 'home' %}">Back to Home</a>

{% endblock %}